<% layout('/layouts/default.html', {title: 'maoche_alimama_union_product管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(maocheAlimamaUnionProductDO.isNewRecord ? '新增maoche_alimama_union_product' : '编辑maoche_alimama_union_product')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${maocheAlimamaUnionProductDO}" action="${ctx}/cat/maocheAlimamaUnionProductDO/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('原始JSON数据')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="origContent" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('category_id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="categoryId" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('category_name')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="categoryName" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('commission_rate')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commissionRate" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('commission_type')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commissionType" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('coupon_amount')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="couponAmount" maxlength="8" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('coupon_end_time')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="couponEndTime" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('coupon_id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="couponId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('coupon_info')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="couponInfo" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('coupon_remain_count')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="couponRemainCount" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('coupon_share_url')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="couponShareUrl" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('coupon_start_fee')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="couponStartFee" maxlength="8" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('coupon_start_time')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="couponStartTime" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('coupon_total_count')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="couponTotalCount" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('include_dxjh')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="includeDxjh" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('include_mkt')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="includeMkt" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('info_dxjh')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="infoDxjh" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('item_description')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="itemDescription" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('item_id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="itemId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('item_url')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="itemUrl" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('level_one_category_id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="levelOneCategoryId" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('level_one_category_name')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="levelOneCategoryName" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('nick')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nick" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('num_iid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="numIid" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pict_url')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pictUrl" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('presale_deposit')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="presaleDeposit" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('provcity')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="provcity" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('real_post_fee')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="realPostFee" maxlength="8" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('reserve_price')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="reservePrice" maxlength="8" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('seller_id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sellerId" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('shop_dsr')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="shopDsr" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('shop_title')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="shopTitle" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('short_title')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="shortTitle" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('small_images')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="smallImages" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('superior_brand')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="superiorBrand" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('title')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="title" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('tk_total_commi')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="tkTotalCommi" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('tk_total_sales')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="tkTotalSales" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('url')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="url" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('user_type')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="userType" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('volume')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="volume" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('white_image')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="whiteImage" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('x_id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xid" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('zk_final_price')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zkFinalPrice" maxlength="8" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('coupon')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="coupon" maxlength="8" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('cat:maocheAlimamaUnionProductDO:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>